<!-- Footer -->
<footer class="page-footer font-small indigo">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
        <a href="https://github.com/FsCode-shafiq"> {{name}}</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->